* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slides {
    position: relative;
    width: 83em;
    height: 39em;
    margin: 14px auto;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

#slides ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
#slides ul li {
    position: relative;
    height: 100%;
    float: left;
}

#slides ul li img{
    width: 83em;
    height: 39em;
    object-fit: cover;
}

#slides #prev, #slides #next {
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms ease;
}

#slides #prev:hover, #slides #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}

#slides #prev { left: 10px; }
#slides #next { right: 10px; }

.words {
    background-color: #5B2900;
    z-index: 999;
    position: absolute;
    top: 80%;
}
.words h1 {
    padding: 10px;
    color: #fff;
}